extends layout

block hero-unit
  .jumbotron
    .container

block content
  .container
    .row
      .col-md-6
        h2 서비스 목적
        p 웹프로그래밍 기말 프로젝트입니다. 
      .col-md-6
        h2 주요 기능
        ul
          li 회원가입
          li 로그인, 로그아웃
          li 게시물 게시
          li 게시물 보기
  
